@font-face {
  font-family: 'Dodo Rounded v2';
  src: url('../fonts/DodoRounded_v2-Light.woff2') format('woff2'),
       url('../fonts/DodoRounded_v2-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$main-fonts: 'Dodo Rounded v2';
$primary-color: #FFFFFF;
$secondary-color: #E86100;
$spacing: 301px;
$border-radius: 5px;
$transition-base: color 0.3s ease;

.list {
  margin: 0 $spacing;
  display: flex;
  justify-content: space-between;
  font-family: $main-fonts;
  font-weight: bold;
  width: 1265px;
 
  ul {
      margin: 0;
      list-style: none;
      display: flex;
      gap: 20px;
      padding: 0;
      font-size: smaller;
      align-items: center;
      position: relative;

      li {
          cursor: pointer;

          a {
              color: black;
              text-decoration: none;
              transition: $transition-base;

              &:hover {
                  color: $secondary-color;
              }
          }

          .other {
              display: flex;
              padding: 7px 12px;
              background-color: rgb(243, 243, 247);
              border-radius: 40px;
              font-size: 13.33px;
              cursor: pointer;
              transition: $transition-base;
              align-items: center;
              gap:10px;

              &:hover {
                  color: $secondary-color;
              }
          }

          &:hover > .dropdownList {
              display: block;
          }
      }

      .dropdownList {
          font-family: $secondary-color;
          z-index: 10;
          position:absolute;
          display: none;
          width: 130px;
          border-radius: 10px;
          padding: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          gap: 10px;
        //   opacity: 1;
          transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;

          &.visible {
            display: block;
            opacity: 1;
          }

          li {
              margin: 0;
              padding: 7px 5px;
              font-size: larger;
              a {
                  font-weight: bold;
                  &:hover {
                      color: #ff6900;
                  }
              }
          }
      }
  }
}
