@font-face {
    font-family: 'Dodo Rounded v2';
    src: url('../fonts/DodoRounded_v2-Light.woff2') format('woff2'),
         url('../fonts/DodoRounded_v2-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  $main-fonts: 'Dodo Rounded v2';

  .popularPizzaSection{
    height: 200px;
    position: relative;
    backface-visibility: hidden;
    margin: 170px 316px 0;
    transition: height 200ms ease-out, opacity;
    h2{
        font-family: $main-fonts;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        margin: 16px 0px;
    }
    .PizzaContainer{
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      margin: 16px 0px;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 20px;
    }
  }