@font-face {
    font-family: 'Dodo Rounded v2';
    src: url('../fonts/DodoRounded_v2-Light.woff2') format('woff2'),
         url('../fonts/DodoRounded_v2-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  $main-fonts: 'Dodo Rounded v2';


.card {
    cursor: pointer;
    font-family: $main-fonts;
    width: 260px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 10px;
    gap: 20px;
    transition: box-shadow 0.3s ease;
    &:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
  .image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    h3 {
      margin: 0;
      font-size: 16px;
    }
  
    p {
      margin: 5px 0;
      font-size: 14px;
    }
  }
}