@import '../../styles/styles.module.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;

  &.open {
    opacity: 1;
    pointer-events: auto;
  }
}

.basket {
  overflow-x: auto;
  font-family: $main-fonts;
  position: relative;
  background-color: white;
  width: 300px;
  height: 100vh;
  padding: 1rem;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);

  &.open {
    transform: translateX(0);
  }

  h3 {
    margin: 0rem;
  }

  img {
    width: 140px;
  }

  p {
    margin: 6px 0;
  }
}

.closeButton {
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;

  &:hover {
    color: $secondary-color;
  }
}

.basketItems {

  .item {
    list-style: none;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 16px;
    margin-bottom: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .basketImage {
    width: 140px;
  }

  .deleteCard {
    justify-content: center;
    padding: 0;
    height: auto;
    min-height: 40px;
    max-width: 60%;
    min-width: 120px;
    font-size: $fontSize-button;
    color: $secondary-color;
    border: none;
    border-radius: $radius;
    text-align: center;
    font-family: $main-fonts;
    font-weight: $bold;
    cursor: pointer;
    transition: $transition-base;
    background-color: rgba(255, 209, 178, 0.39);

    &:hover {
      background-color: #FFD2B3;
    }
  }

  .clearButton {
    margin-top: 10px;
  }
}

@media (max-width: 745px) {
  .basket {
    width: 50%;
  }
}
