@import '../../styles/styles.module.scss';

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

.active {
  visibility: visible;
  opacity: 1;
}

.modalContent {
  font-family: $main-fonts;
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 90%;
  max-width: 650px;

  img {
    width: 300px;
    height: auto;
  }

 
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.region {
  font-family: $main-fonts;
  cursor: pointer;
  transition: $transition-base-color;
  width: 80px;
  padding: 6px;
  font-weight: $bold;
  &:hover {
    color: $secondary-color;
  }
}

.regForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 12px;
  width: 160px;

  h2 {
    margin: 0;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  input {
    padding: 10px;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
}

.productContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  flex-grow: 1;
}

.currentPrice {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
