@font-face {
    font-family: 'Dodo Rounded v2';
    src: url('../fonts/DodoRounded_v2-Light.woff2') format('woff2'),
         url('../fonts/DodoRounded_v2-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  $transition-base-color: color 0.3s ease;
  $main-fonts: 'Dodo Rounded v2';
  $secondary-color: #FF6900;
  $transition-base: background-color 0.3s ease;
  $radius: 9999px;
  $fontSize-button: 16px;
  $paddingButton: 8px 20px;
  $padding: 0 190px;
  
  .footer {
    font-family: $main-fonts;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    background-color: #181818; 
    padding: 10px 300px;
    margin-top: 20px;
    color: white;
  
    .footerSection {
      min-width: 200px;
      margin: 10px;
      text-align: center; 
      color: gray;   
      h4 {
        font-size: 1.2rem;
        color: white; 
        margin-bottom: 10px;
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin: 5px 0;
          cursor: pointer;
          transition: $transition-base-color;
          &:hover {
            color: lightgray;
          }
        }
      }
  
      p {
        margin: 5px 0;
      }
    }
  
  }
  