@font-face {
  font-family: 'Dodo Rounded v2';
  src: url('../fonts/DodoRounded_v2-Light.woff2') format('woff2'),
       url('../fonts/DodoRounded_v2-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$main-fonts: 'Dodo Rounded v2';


.newPizza {
    text-align: start;
    margin: 0 326px;
    width: 1280px;
   
    h2{
      font-family: $main-fonts;
    }
  
    .title {
      font-family: $main-fonts;
      font-size: 2rem;
      margin-bottom: 20px;
    }
  
    .cardContainer {
      display: flex;
      flex-wrap:wrap;
      justify-content: start;
      gap: 20px;


    }
  }
  