@font-face {
    font-family: 'Dodo Rounded v2';
    src: url('../fonts/DodoRounded_v2-Light.woff2') format('woff2'),
         url('../fonts/DodoRounded_v2-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  $main-fonts: 'Dodo Rounded v2';


  .bunner{
    display: flex;
    position: relative;
    margin: 0 126px;
    padding: 24px 170px 16px;
    width: 715px;
    height: 94px;
    align-items: center;
    top: -10px;
    .size {
        width: 250px;
        height: 90px;
    }
    .txt{
        position: relative;
        display: flex;
        width: 139px;
        height: 21.59px;
        font-family: $main-fonts;
        font-weight: bold;
        
    }
  }

