@import '../../styles/styles.module.scss';


  .bunner{
    display: flex;
    justify-content: space-between;
    // margin: 0 301px;
    padding: 24px 0px 16px;
    width: 1280px;
    height: 84px;
    // gap:200px;
  .right{
    font-family: $main-fonts;
    display: flex;
    position: relative;
    align-items: center;
    top: -10px;
  }
  .left{
    font-family: $main-fonts;
    display: flex;
    position: relative;
    align-items: center;
    top: -10px;
    .logo {
        width: 200px;
        height: 90px;
    }
    .sizeSection{
      width: 220px;
      padding-left: 36px;
    }
    .txt{
        position: relative;
        display: inline-block;
        height: 21.59px;
        font-weight: bold;
        margin: 3px 0px;
        padding: 0 5px;
        gap: 10px;
        &:nth-child(2) {
          color: #ABABAB;
          font-weight: 500;
        }
    }
    .city{
      position: relative;
      display: inline-block;
      justify-content: space-around;
      color: $secondary-color;
      font-weight: bold;
      cursor: pointer;
      margin: 0;
      transition: $transition-base;
      &:hover{
        color: #E86100;
      }
    }
  }
  }
  
  .profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .profilePicture {
      width: 50px;
      // height: 50px;
      border-radius: 50%;
      cursor: pointer;
      margin-bottom: 10px;
    }

    .ButtonLog {
      background-color: #ff4500;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

 

